@{
    ViewBag.Title = "Home Page";
}

<h3 class="page-header">Tiendas</h3>
<div class="row">
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda1.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    45 mts desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("Supermarket", "About", "Home",null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda2.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    1 km desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("La tienda de Romero", "About", "Home", null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda3.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    5 km desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("Minimarket UPC", "About", "Home", null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda4.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    5 km desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("Abarrotes Pedrito", "About", "Home", null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda5.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    7 km desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("Vicky Abarrotes", "About", "Home", null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda6.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    7.5 km desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("Don Lucho", "About", "Home", null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda1.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    7.8 km desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("Minimarket Susana", "About", "Home", null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda1.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    8.3 km desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("Libería Bazar", "About", "Home", null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
</div>

<h3 class="page-header">Store</h3>
<div class="row">
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda1.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    45 mts desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("Supermarket", "About", "Home", null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda2.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    1 km desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("La tienda de Romero", "About", "Home", null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda3.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    5 km desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("Minimarket UPC", "About", "Home", null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda1.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    8.3 km desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("Libería Bazar", "About", "Home", null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
</div>

<h3 class="page-header">Abarrotes</h3>
<div class="row">
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda4.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    5 km desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("Abarrotes Pedrito", "About", "Home", null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                <img class="img-thumbnail" src="~/Content/images/tienda5.jpg" />
                <p>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    7 km desde tu ubicación
                </p>
                <p>
                    @Html.ActionLink("Vicky Abarrotes", "About", "Home", null, new { @class = "btn btn-success btn-block" })
                </p>
            </div>
        </div>
    </div>
</div>